*{
    margin:0px;
padding:0px;
}



body{
    background-color:#91DDCF;


}
#tic{
text-align:center;
background-color:#838741;
margin:30px 500px 60px 500px;
color:#020000;


}
.game-box{
    background-color:#91DDCF;
    
    height: 420px;
    width: 420px;
    margin-left: 33%;
    display: flex;
    flex-wrap: wrap;
    
    align-items: center;
    gap:10px;
    
    
    

}
.box{ 
    width:133.3px;
    height:133.3px;
    background-color:#F7F9F2;
    border:0px;
    border-radius: 6px;
box-shadow: 0px 1px 5px rgb(106, 108, 105);
font-size: 80px;
color:#020000;
}


#restart{
    background-color:#b23c18;
    font-size:1.3rem;
    height:35px;
    width:120px;
    color:rgb(1, 8, 8);
    margin-left:50px;
    border-radius: 7px;



}

.complete{
    height:120px;
    
    text-align: center;
margin-top: 200px;

    
}
.cong{
    font-size: 50px;
    font-weight: 600;
    
    
color:#F4CE14;

}
.newgame{
    height: 30px;
    width:120px;
    background-color: #b4106d;
    border-radius: 6px;
    color:#F7F9F2;
    font-weight: 600;
    font-size: medium;
margin-top: 10px;
}
.hide{
    display:none;
} 
.the{
    display:none;
}